/* =================================================== */
/* Styles → Main → SCAFFOLDING */

/* -------------------------| Root */
:root {
  --mev-top-offset: var(--mev-size-150x200);
}

/* -------------------------| Layout */
#playground {
  display: flex;
  flex-direction: column;
  min-height: calc(100dvh - var(--mev-border-width-brand));
}

/* -------------------------| Color */
body {
  @apply bg-red50 text-primary-base;
}

#playground {
  @apply bg-primary-base;
}

/* -------------------------| Typography */
html {
  font-size: var(--mev-root-font-size);

  -webkit-locale: 'bg';
}

body {
  @apply font-sans text-body font-apparat-regular antialiased;
}

::selection {
  background: var(--mev-color-background-red-weakest);
}
