/* =================================================== */
/* Overwrites → FloatingVue */

.playground {
  & .v-popper__popper .v-popper__inner {
    color: var(--mev-color-content-primary-inverted);
    background-color: var(--mev-color-background-primary-inverted);
  }

  & .v-popper--theme-tooltip .v-popper__arrow-outer {
    border-color: var(--mev-color-background-primary-inverted);
  }
}
